h1 {
    font-family: 'Playfair Display', serif !important;
    color: rgb(105, 214, 241);
}


.navbar-light .navbar-brand {
    color: #ffffff;
    font-size: 40px !important;
    font-family: 'Playfair Display', serif !important;
    background-color: rgb(105, 214, 241)

}

body {
    background-image: url(chevron.png);
    background-repeat: repeat;
    background-size: 800px;
}